body {
  margin: 0;
  padding: 0;
  font-family: 'Cambria', serif;
  background: url('/images/2.avif') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.main-container {
  text-align: center;
  color: rgb(205, 227, 255);
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.login-btn {
  background-color: #232c34;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #375f63;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
